* {
  box-sizing: border-box;
}

body {
  --color1: #3ce093;
  --color2: #13a360;
  --color3: #06d4db;
  --color4: #3093a0;
  background-color: rgb(48, 74, 122);
}

.score {
  margin: 0 0.5em;
}

#names_title {
  margin-bottom: 0.5rem;
  color: white;
}

.setting_div {
  margin: 1rem 0.5rem;
}

#input_div input {
  font-size: 1.2rem;
  padding: 0.3rem;
  width: 200px;
  margin: 0.7rem 0;
  border: none;
  outline: none;
  background-color: rgb(194, 224, 233);
  border: 3px solid rgb(194, 224, 233);
  border-radius: 0.2rem;
  -webkit-appearance: none;
}

#input_div input:focus {
  border: 3px solid rgb(0, 168, 197);
}

#add_player {
  border: none;
  background: none;
  font-size: 1.1rem;
  padding: 5px 0 12px 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#add_player:focus,
.icon_button:focus {
  outline-width: 0;
}
.icon_button {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

#start_button {
  cursor: pointer;
  font-size: 1.1rem;
}

.container {
  margin: 1rem 1rem 5rem 1rem;
  text-align: center;
}

#card {
  margin: 0 auto;
  height: 16rem;
  width: 30rem;
  max-width: 100%;
  font-size: 2rem;
}

.front,
.back {
  font-weight: bold;
  padding: 0 1rem;
  color: rgb(51, 51, 51);
  text-shadow: 1px 1px 1px rgb(221, 221, 221);
  background-color: var(--color3);
  border: 8px solid var(--color4);
  border-radius: 1rem;
  line-height: 15.8rem;
}

.fa-tree {
  padding-top: 3.7rem;
  color: var(--color4);
  font-size: 7rem;
}

.span {
  display: inline-block;
  vertical-align: middle;
  line-height: 3rem;
  color: rgb(77, 77, 77);
}

#timer {
  position: relative;
  font-family: Arial;
  font-size: 2.7rem;
  color: rgb(88, 88, 88);
  width: 130px;
  height: 130px;
  line-height: 115px;
  background-color: var(--color1);
  border: 8px solid var(--color2);
  border-radius: 50%;
  margin: 3.5rem auto 2rem auto;
}

#timer::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  width: 15px;
  height: 25px;
  transform: translateX(-50%);
  background-color: var(--color2);
}

#timer::after {
  content: "";
  position: absolute;
  top: -32px;
  left: 50%;
  width: 40px;
  height: 15px;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: var(--color2);
}

.flip {
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
  background-color: rgb(236, 75, 0);
  color: rgb(236, 236, 236);
  font-weight: bold;
  box-shadow: 4px 4px 2px rgb(65, 65, 65);
}

.start:active {
  box-shadow: 1px 1px 1px rgb(65, 65, 65);
}

.round {
  color: rgb(240, 240, 240);
  font-size: 2rem;
}

.board {
  display: none;
  color: white;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 576px) {
  .round {
    font-size: 4rem;
  }

  #card {
    height: 18rem;
    font-size: 2rem;
  }

  .front,
  .back {
    line-height: 18rem;
  }

  .fa-tree {
    padding-top: 4rem;
    font-size: 9rem;
  }
  .flip {
    font-size: 2rem;
    padding: 1rem 2.2rem;
  }
  .board {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}
